<div class="container">
  <h1>Memory</h1>

  <div class="country">
    <div class="dropdown">
      <h2>Country</h2>
      <button class="dropdown-toggle" type="btn btn-primary" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose your country</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @countries.each do |country| %>
          <%= link_to country, root_path(query: country), class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="summary">
    <h2>Summary</h2>
    <div class="revenue">
      <h3>Revenue</h3>
      <p><%= @total_revenue %> €</p>
    </div>
    <div class="avg">
      <h3>Average revenue / order</h3>
      <p><%= @avg_order %> €</p>
    </div>
    <div class="customers">
      <h3>Total customers</h3>
      <p>You have <%= @total_customers %> customers</p>
    </div>
  </div>

  <div class="monthly">
    <p><%= @orders.last.unit_price %> €</p>
  </div>
</div>
